@font-face {
	font-family: 'AkzidenzGroteskPro-Light';
	src: url('../fonts/akzidenzgroteskpro-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akzidenzgroteskpro-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akzidenzgroteskpro-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akzidenzgroteskpro-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akzidenzgroteskpro-light.svg#akzidenzgroteskpro-light') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 300;
    font-display: swap;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Regular';
	src: url('../fonts/akzidenzgroteskpro-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akzidenzgroteskpro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akzidenzgroteskpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akzidenzgroteskpro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akzidenzgroteskpro-regular.svg#akzidenzgroteskpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400;
    font-display: swap;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Md';
	src: url('../fonts/akzidenzgroteskpro-md.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akzidenzgroteskpro-md.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akzidenzgroteskpro-md.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akzidenzgroteskpro-md.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akzidenzgroteskpro-md.svg#akzidenzgroteskpro-md') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 500;
    font-display: swap;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Bold';
	src: url('../fonts/akzidenzgroteskpro-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akzidenzgroteskpro-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akzidenzgroteskpro-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akzidenzgroteskpro-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akzidenzgroteskpro-bold.svg#akzidenzgroteskpro-bold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 700;
    font-display: swap;
}


@font-face {
  font-family: 'BigShouldersDisplay-normal';
  src: local('Big Shoulders Display Regular'), local('Big-Shoulders-Display-Regular'),
      url('../fonts/BigShouldersDisplay-Regular.woff2') format('woff2'),
      url('../fonts/BigShouldersDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'BigShouldersDisplay-semiBold';
  src: local('Big Shoulders Display SemiBold'), local('Big-Shoulders-Display-SemiBold'),
      url('../fonts/BigShouldersDisplay-SemiBold.woff2') format('woff2'),
      url('../fonts/BigShouldersDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'BigShouldersDisplay-bold';
  src: local('Big Shoulders Display Bold'), local('Big-Shoulders-Display-Bold'),
      url('../fonts/BigShouldersDisplay-Bold.woff2') format('woff2'),
      url('../fonts/BigShouldersDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}