%akzidenz-light{
  font-family: 'AkzidenzGroteskPro-Light', sans-serif;
  font-weight: 300;
}

%akzidenz-regular{
  font-family: 'AkzidenzGroteskPro-Regular', sans-serif;
  font-weight: 400;
}

%akzidenz-md{
  font-family: 'AkzidenzGroteskPro-Md', sans-serif;
  font-weight: 500;
}

%akzidenz-bold{
  font-family: 'AkzidenzGroteskPro-Bold', sans-serif;
  font-weight: 700;
}

%shoulder-normal{
  font-family: 'BigShouldersDisplay-normal', sans-serif;
  font-weight: 400;
}

%shoulder-semi{
  font-family: 'BigShouldersDisplay-semiBold', sans-serif;
  font-weight: 600;
}

%shoulder-bold{
  font-family: 'BigShouldersDisplay-bold', sans-serif;
  font-weight: 700;
}


